.transactions-page {
  min-height: 100vh;
  background-color: #d3d3d3;
  padding: 30px;
}

.page-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.content-box {
  background-color: #e8e8e8;
  border-radius: 10px;
  padding: 40px;
}

.content-box h2 {
  font-size: 28px;
  margin-bottom: 30px;
  color: #333;
  text-align: center;
}

